### Images ###
# JPEG
Style/*.jpg
Style/*.jpeg
Style/*.jpe
Style/*.jif
Style/*.jfif
Style/*.jfi

# JPEG 2000
Style/*.jp2
Style/*.j2k
Style/*.jpf
Style/*.jpx
Style/*.jpm
Style/*.mj2

# JPEG XR
Style/*.jxr
Style/*.hdp
Style/*.wdp

# Graphics Interchange Format
Style/*.gif

# RAW
Style/*.raw

# Web P
Style/*.webp

# Portable Network Graphics
Style/*.png

# Animated Portable Network Graphics
Style/*.apng

# Multiple-image Network Graphics
Style/*.mng

# Tagged Image File Format
Style/*.tiff
Style/*.tif

# Scalable Vector Graphics
Style/*.svg
Style/*.svgz

# Portable Document Format
Style/*.pdf

# X BitMap
Style/*.xbm

# BMP
Style/*.bmp
Style/*.dib

# ICO
Style/*.ico

# 3D Images
Style/*.3dm
Style/*.max

# Everything in uploads folder
uploads/*
